
.blog {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 90%;
}
.preview {
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    
}

.preview article {
    background-color: rgb(239, 169, 148);
    margin-bottom: 10px;
    padding: 5px;
}

.preview article:hover {
    background-color: rgb(194, 138, 121);
}

.articles {
    width: 40%;
    display: inline-block;
    padding: 10px;
    background-color: rgba(22, 22, 63, 0.773);
    text-align: left;
}

.not-selected {
    display: none;
}

.selected {
    margin-left: 20px;
}

.articles ol {
    text-align: left;
}

ul {
    list-style: none;
}

.articles ul li {
    border-left: 2px rgb(239, 169, 148) solid;
    padding-left: 10px;
}