.videos iframe {
    display: block;
    min-height: 250px;
    margin: 20px;
    width: 100%;
    text-align: center;
    
}


.videos {
    text-align: center;
    width: 550px;
    height: auto;
    padding: auto;
    margin: auto;
}

